!app/assets/alloy
/*.png
tiapp.xml
app/config.json
app/assets/*
app/lib/ctrlShortCode.js
app/lib/styleSheets.js
app/styles/app.tss
platform/android/res/drawable-*
tools/defaults.json
dist
.settings
build
Resources
/i18n