!app/assets/alloy
/*.png
tiapp.xml
app/config.json
app/assets/*
app/lib/ctrlShortCode.js
app/lib/styleSheets.js
app/styles/app.tss
platform/android/res/drawable-*
platform/android/res/values-*
tools/defaults.json
plugins/ti.alloy/hooks/alloy.js
plugins/ti.alloy/hooks/deepclean.js
dist
.settings
build
Resources
/i18n
