<Alloy>
	<TableView class="primary-bg-color bg-selected-color-disabled table-separator-disabled" dataCollection="menuItems" dataFilter="filterFunction" dataTransform="transformFunction" onClick="didClickTableView">
		<HeaderView>
			<View id="headerView" class="auto-height accessibility-disabled">
				<ImageView id="logoImg" class="margin-top-status-bar margin-bottom-large img-logo-white" />
			</View>
		</HeaderView>
		<TableViewRow class="primary-bg-color row-selected-bg-color-light" ctrl="{ctrl}" url="{url}" action="{action}">
			<View class="margin-top margin-bottom margin-left margin-right auto-height touch-disabled">
				<Label text="{icon}" class="left i4 primary-light-fg-color touch-disabled accessibility-disabled" />
				<Label text="{title}" left="{left}" class="h4 primary-light-fg-color touch-disabled" />
			</View>
		</TableViewRow>
		<FooterView platform="ios">
			<View id="footerView" class="auto-height" />
		</FooterView>
	</TableView>
</Alloy>