<Alloy>
	<TableView dataCollection="menuItems" dataTransform="transformFunction" dataFilter="filterFunction" onClick="didItemClick">
		<HeaderView>
			<View id="headerView" class="auto-height">
				<ImageView id="logoImg" class="margin-bottom" />
			</View>
		</HeaderView>
		<TableViewRow class="menu-row">
			<View class="menu-item-view">
				<Label text="{icon}" class="menu-item-icon" />
				<Label text="{title}" class="menu-item-lbl" />
			</View>
		</TableViewRow>
		<FooterView>
			<View id="footerView" />
		</FooterView>
	</TableView>
</Alloy>