<Alloy>
	<TableView class="bg-primary" dataCollection="menuItems" dataTransform="transformFunction" onClick="didItemClick">
		<HeaderView>
			<View class="vspacer" />
		</HeaderView>
		<TableViewRow class="bg-primary">
			<View class="list-item-view hgroup no-hwrap">
				<Label text="{icon}" class="font-icon fg-primary" />
				<Label text="{title}" class="padding-left h3 fg-primary" />
			</View>
		</TableViewRow>
	</TableView>
</Alloy>