<Alloy>
	<TableView dataCollection="menuItems" dataTransform="transformFunction" dataFilter="filterFunction" onClick="didItemClick">
		<HeaderView>
			<View class="vspacer" />
		</HeaderView>
		<TableViewRow class="primary-bg-color">
			<View class="list-item-view hgroup no-hwrap">
				<Label text="{icon}" class="left small-icon secondary-color" />
				<Label text="{title}" class="padding-left list-item-lbl secondary-color" />
			</View>
		</TableViewRow>
	</TableView>
</Alloy>