<Alloy>
	<ListView platform="ios,android" defaultItemTemplate="template" onItemclick="didItemClick">
		<HeaderView platform="ios">
			<View class="spacer" />
		</HeaderView>
		<Templates>
			<ItemTemplate name="template" class="row">
				<Label bindId="title" class="title h3 black font-light" />
			</ItemTemplate>
		</Templates>
		<ListSection dataCollection="menuItems" dataTransform="transformFunction" >
			<ListItem title:text="{title}" />
		</ListSection>
	</ListView>
	<TableView platform="mobileweb" dataCollection="menuItems" dataTransform="transformFunction" onClick="didItemClick">
		<TableViewRow class="row">
			<Label text="{title}" class="title h4 black" />
		</TableViewRow>
	</TableView>
</Alloy>